body {
    background: #f5f5f5;
}

.input-wrapper {
    margin: 0 auto;
    background-color: grey;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 500px;
}

.top-wrapper {
    display: flex;
    flex-direction: row;
}

.top-left {
    width: 50%;
    height: 100%;
    background: yellow;
}

.top-right {
    width: 50%;
    height: 100%;
    background-color: goldenrod;
}

.bottom-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
}

.red-button {
    width: 50%;
    height: 80%;
    border-radius: 50%;
    background-color: red;
}

.red-button:hover {
    box-shadow: 0 0 28px rgb(219, 99, 99);
}

.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
}

.blue-button {
    width: 50%;
    height: 80%;
    border-radius: 50%;
    background-color: blue;
}

.blue-button:hover {
    box-shadow: 0 0 28px rgb(113, 115, 231);
}

.div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

.green-button {
    width: 50%;
    height: 80%;
    border-radius: 50%;
    background-color: green;
}

.green-button:hover {
    box-shadow: 0 0 28px rgb(113, 231, 113);
}

.div4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

.purple-button {
    width: 50%;
    height: 80%;
    border-radius: 50%;
    background-color: purple;
}

.purple-button:hover {
    box-shadow: 0 0 28px rgb(231, 113, 225);
}

.blue-answer {
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.red-answer {
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.green-answer {
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.purple-answer {
    background-color: purple;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.correct {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
}